contract_id        = "A-12CDEF"
group_id           = "12345"
hostname           = "www.example.com"
default_origin     = "origin.example.com"
enhanced_tls       = false
email              = "sre@example.com"
project_name       = "sample-onboarder"
ip_block_list      = ["1.2.3.4"]
geo_block_list     = ["CN", "KZ", "DE"]
pragma_exceptions  = ["5.5.5.5"]
section            = "default"
enable_client_rep  = false
rule_format        = "latest"
product_id         = "SPM"
include_cloudlets  = true
include_ivm_images = true
include_ivm_videos = true
include_property   = true
include_security   = true